.dropdownHeader {
    display: flex;
    justify-content: space-around;
    background-color: #FFFAC8;
}

.logoDiv {
    flex: 1;
    width: 100%;
}

.stateParkDiv {
    display: flex;
    flex-direction: column;
    flex: 3;
    width: 100%;
    margin: 0;
}

.stateDropdownDiv {
    flex: 1;
    padding: 10px;
    margin: 0;
}

.parkDropdownDiv {
    flex: 1;
    padding: 10px;
    width: 100%;
    margin: 0;
}

.eateryAttDiv {
    display: flex;
    flex-direction: column;
    flex: 3;
    width: 100%;
    margin: 0;
}
/* #parkDropdown { 
    width: 450px;
} */

.eateryDropdownDiv, 
.attractionDropdownDiv {
    flex: 1;
    background-color: #DFA408;
    padding: 10px;
    width: 100%;
    margin: 0;
}

.searchInputDiv{
    flex: 3;
    padding: .5em;
    width: 100%;
    margin: 0;
    background-color: #744838;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.searchInputDiv div{
    font-size: .75rem;
    color: white;
    display:flex;
    flex-direction: column;
}

#saveTripBtn {
    margin-bottom: .75em;
    padding: .5em;
    border-radius: 5px;
    background-color: lightgrey;
    color: black;
}
