.eatery .info__text {
    background-color: #DFA408;
    padding: 1.5em;
}

.eatery .info__banner {
    background-image: url("../pictures/eatery_image.jpg");
    background-size: cover;
    padding: 2em;
}

.attraction .info__text {
    background-color: #744838;
    color: white;
    padding: 1.5em;
}

.attraction .info__banner {
    background-image: url("../pictures/ferris_wheel.jpg");
    background-size: cover;
    padding: 2em;
}