@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "./weather.css";

body {
    font-family: 'Roboto', sans-serif;
}

li, ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.park h1 {
    text-align: center;
}

.dropdownHeader {
    display: flex;
    justify-content: space-around;
}
