@import "./info-cards.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "./weather.css";
@import "./header.css";
@import "./footer.css";

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

li, ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.park h1 {
    text-align: center;
}

.mainContainer {
    display: flex;
}

.modal {
    max-width: 56ch;
}

.mainPreview {
    flex: 5;
    margin: 0;
}

.tripAside {
    flex: 1;
    padding-top: 20px;
    padding-left: 20px;
    margin: 0;
    background-color: #DFA408;
}

.savedTrip {
    padding-bottom: 20px;
}
.directionsBtn, .eventsBtn {
    background-color: #744838;
    color: #FFF;
    padding: 10px;
    border-radius: 5px;
}
