@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "./info-cards.css";
@import "./weather.css";
@import "./header.css";
@import "./footer.css";

body {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

p {
    line-height: 1.5rem;
}

h1,
h2,
h3,
h4 {
    line-height: .9em;
}

li, ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.park h1 {
    text-align: center;
}

.park {
    padding: 1.5em;
    background-color: #FFFAC8;
}

.mainContainer {
    display: flex;
}

.modal {
    max-width: 56ch;
}

.mainPreview {
    flex: 5;
    margin: 0;
}

.tripAside {
    flex: 1;
    padding-top: 20px;
    padding-left: 20px;
    margin: 0;
    background-color: #DFA408;
}

.savedTrip {
    padding-bottom: 20px;
}

.directionsBtn, .eventsBtn {
    background-color: #744838;
    color: #FFF;
    padding: 10px;
    border-radius: 5px;
}


.button {
    padding: .75em;
    border-radius: 5px;
    background-color: #744838;
    color: white;
}

.button--light{
    background-color: #DFA408;
    color:black;
}

.button:hover {
    cursor: pointer;
    background-color: #b67158;
}

.button--light:hover {
    background-color: #b48606;
}

.modal button{
    background-color: #DFA408;
}

.modal button:hover {
    background-color: #b48606;
}
