.weather__forecast {
    display: flex;
    flex: 1;
    gap: 1em;
    justify-content: space-around;
    padding: 0;
    margin: 0
}

.weather__list {
    flex: 1;
    list-style-type: none;
    padding: .5em;
    margin: 0;
    border: 1px dashed #744838;
    border-radius: 5px;
}

.weather__container h3 {
    text-align: center;
}